---
import Link from "../components/Link.astro"
import GlobalStyles, {
  containerSelectors,
  headerSelectors,
} from "../components/GlobalStyles.astro"
import OpenSource from "../components/OpenSource.astro"
import WorkHistory from "../components/WorkHistory.astro"
import TechStack from "../components/TechStack.astro"
import Links from "../components/Links.astro"
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta name="robots" content="index, follow" />
    <meta name="description" content="Personal webpage for Carlos Kelly." />
    <GlobalStyles />
    <title>Carlos Kelly</title>
  </head>
  <body>
    <main class="flex flex-col items-center w-full min-h-screen">
      <section
        class:list={[
          containerSelectors,
          "flex flex-col items-start justify-center relative",
        ]}
      >
        <div class="flex flex-row items-center gap-5 mt-8 md:mt-14">
          <img
            class="rounded-full h-24 w-24"
            src="/carlos.jpg"
            alt="Carlos Kelly Profile Image"
          />
          <div>
            <h1
              class="text-2xl md:text-4xl tracking-tighter font-bold text-yellow-500"
            >
              Carlos Kelly
            </h1>
            <h2 class:list={[headerSelectors]}>Software Engineer & CTO</h2>
          </div>
        </div>
        <p class="text-lg md:text-xl text-left my-10 !leading-relaxed">
          I’m a software engineer building web and native apps. I enjoy both
          leading product engineering teams and being hands-on and building
          software. I’m the CTO at

          <Link href="https://formidable.com" target="_blank">
            Formidable<span slot="post-arrow">,</span>
          </Link>
           a global design, product, and engineering consultancy with a focus on
          open-source software.
        </p>
      </section>

      <Links />
      <TechStack />
      <OpenSource />
      <WorkHistory />
    </main>
  </body>
</html>
