---
import { Picture } from "astro:assets"
import Link from "../components/Link.astro"
import GlobalStyles, {
  containerSelectors,
} from "../components/GlobalStyles.astro"
import OpenSource from "../components/OpenSource.astro"
import WorkHistory from "../components/WorkHistory.astro"
import TechStack from "../components/TechStack.astro"
import Links from "../components/Links.astro"
import CommonHead from "../components/CommonHead.astro"
import carlosImg from "../assets/carlos.jpg"
---

<html lang="en">
  <head>
    <CommonHead />
    <title>Carlos Kelly</title>
  </head>
  <body>
    <main class="flex flex-col items-center w-full min-h-screen">
      <section
        class:list={[
          containerSelectors,
          "flex flex-col items-start justify-center relative",
        ]}
      >
        <div class="flex flex-row items-center gap-4 md:gap-6 mt-12 md:mt-20">
          <div
            class="bg-stone-800 rounded-full h-24 w-24 md:h-40 md:w-40 overflow-hidden border border-stone-300 dark:border-stone-900"
          >
            <Picture
              src={carlosImg}
              formats={["avif", "webp"]}
              alt="A description of my image."
            />
          </div>
          <div class="flex flex-col gap-2">
            <h1
              class:list={[
                "text-3xl md:text-5xl tracking-tighter font-bold -ml-0.5 text-transparent md:pb-1",
                "bg-clip-text bg-gradient-to-r from-yellow-600 to-yellow-700",
                "bg-clip-text bg-gradient-to-r dark:from-yellow-400 dark:to-yellow-500",
              ]}
            >
              Carlos Kelly&nbsp;
            </h1>
            <Links />
          </div>
        </div>
        <p class="text-lg md:text-xl text-left mt-10 mb-4 !leading-relaxed">
          I’m a full-stack software engineer and open-source software maintainer
          with over 16 years of experience, building apps using web and native
          platform technologies. My background is leading engineering teams and
          organizations to build and ship performant, accessible, and scalable
          software applications. I’m a software engineer at
          <Link href="https://multiple.dev" target="_blank">
            Jolt AI<span slot="post-arrow">,</span>
          </Link>an AI codegen tool that generates a file-by-file plan or lets you chat with your codebase.
        </p>
      </section>

      <TechStack />
      <OpenSource />
      <WorkHistory />
    </main>
  </body>
</html>
