@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "ITCGaramondStdLightNarrow";
  src: url('/webFonts/ITCGaramondStdLightNarrow/font.woff2') format('woff2'), url('/webFonts/ITCGaramondStdLightNarrow/font.woff') format('woff');
}

@font-face {
  font-family: "ITCGaramondStdBookNarrowItalic";
  src: url('/webFonts/ITCGaramondStdBookNarrowItalic/font.woff2') format('woff2'), url('/webFonts/ITCGaramondStdBookNarrowItalic/font.woff') format('woff');
}

:root {
  --system-ui: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  --yellow-800: theme('colors.yellow.800');
  --yellow-700: theme('colors.yellow.700');
  --yellow-600: theme('colors.yellow.600');
  --yellow-500: theme('colors.yellow.500');
  --yellow-400: theme('colors.yellow.400');
  --yellow-300: theme('colors.yellow.300');
  --yellow-200: theme('colors.yellow.200');
  --yellow-100: theme('colors.yellow.100');
  --yellow-50: theme('colors.yellow.50');
  --primary: theme('colors.carlos-0');
  --stripe-dark: theme('colors.carlos--35');
  --stripe-light: theme('colors.carlos--30');
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  font-family: ITCGaramondStdLightNarrow, serif;
  background-color: var(--primary);
}

@media (prefers-color-scheme: dark) {
  :root {
    --primary: theme('colors.carlos-65');
    --stripe-dark: theme('colors.carlos-60');
    --stripe-light: theme('colors.carlos-55');
  }
  html {
    color-scheme: dark;
  }
}
