@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "SharpGrotesk-Book";
  src: url('/fonts/book.woff2') format('woff2');
}

@font-face {
  font-family: "SharpGrotesk-Bold";
  src: url('/fonts/bold.woff2') format('woff2');
}

@font-face {
  font-family: "SharpGrotesk-Medium-Narrow";
  src: url('/fonts/medium-narrow.woff2') format('woff2');
}

:root {
  --3d-text-shadow: theme('colors.slate.800');
  --yellow-800: theme('colors.yellow.800');
  --yellow-700: theme('colors.yellow.700');
  --yellow-600: theme('colors.yellow.600');
  --yellow-500: theme('colors.yellow.500');
  --yellow-400: theme('colors.yellow.400');
  --yellow-300: theme('colors.yellow.300');
  --yellow-200: theme('colors.yellow.200');
  --yellow-100: theme('colors.yellow.100');
  --yellow-50: theme('colors.yellow.50');
}

@media (prefers-color-scheme: dark) {
  :root {
    --3d-text-shadow: theme('colors.slate.400');
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  @apply font-copy min-h-screen;
  @apply bg-gradient-to-b from-slate-300 to-white;
  @apply dark:from-slate-700 dark:to-slate-900;
  @apply text-slate-900 dark:text-slate-50;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
