@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --system-ui: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  --narwhale-grey: theme('colors.narwhale-grey');
  --yellow-800: theme('colors.yellow.800');
  --yellow-700: theme('colors.yellow.700');
  --yellow-600: theme('colors.yellow.600');
  --yellow-500: theme('colors.yellow.500');
  --yellow-400: theme('colors.yellow.400');
  --yellow-300: theme('colors.yellow.300');
  --yellow-200: theme('colors.yellow.200');
  --yellow-100: theme('colors.yellow.100');
  --yellow-50: theme('colors.yellow.50');
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  font-family: var(--system-ui);
  @apply bg-indigo-500;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }

  html, body {
    @apply bg-indigo-900;
  }
}
