.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 6rem;
}

.banner {
  position: absolute;
  top: 0;
  left: 0;
  height: 3px;
  width: 100%;
  background-color: var(--yellow);
}

.firstName {
  color: var(--yellow);
  font-weight: 800;
  font-size: 2.5rem;
  margin-bottom: -0.85rem;
  letter-spacing: -0.1rem;
}

.lastName {
  font-weight: 700;
  font-size: 2.25rem;
  margin-bottom: 1rem;
}

.biLine {
  font-weight: 700;
}

.title {
  text-align: center;
}

.socials {
  border-top: 1px dotted var(--yellow);
  padding-top: 1rem;
  margin: 1rem auto;
  align-items: center;
  display: flex;
  flex-direction: row;
}

.bio {
  width: 50%;
  font-size: 1.15rem;
  margin: 1rem;
  line-height: 2rem;
}

.socials a {
  margin: 0 1rem;
  font-weight: 700;
}

@media only screen and (max-width: 600px) {
  .main {
    padding: 2rem;
  }

  .bio {
    width: 95%;
  }

  .socials {
    flex-direction: column;
    width: 95%;
  }

  .socials a {
    margin: 0.5rem auto;
  }
}