---
import { Icon } from "astro-icon"
import { containerSelectors } from "./GlobalStyles.astro"
---

<section
  class:list={[
    containerSelectors,
    "flex flex-row gap-6",
    "items-center justify-start text-xl",
  ]}
>
  <a
    title="GitHub"
    class="group"
    href="https://www.github.com/carloskelly13"
    target="_blank"
  >
    <Icon
      name="fa-brands:github"
      slot="icon"
      class="h-6 inline group-hover:scale-110 transition-transform"
    />
  </a>
  <a
    title="LinkedIn"
    class="group"
    href="https://www.linkedin.com/in/carlos-kelly-a10270b8/"
    target="_blank"
  >
    <Icon
      name="uiw:linkedin"
      slot="icon"
      class="h-6 inline group-hover:scale-110 transition-transform"
    />
  </a>
  <a
    title="Instagram"
    class="group"
    href="https://www.instagram.com/carloskelly.13"
    target="_blank"
  >
    <Icon
      name="ri:instagram-fill"
      slot="icon"
      class="h-6 inline group-hover:scale-110 transition-transform"
    />
  </a>
  <a
    title="X"
    class="group"
    href="https://x.com/carloskelly_13"
    target="_blank"
  >
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="24"
      height="24"
      viewBox="0 0 24 24"
      slot="icon"
      class="h-6 inline group-hover:scale-110 transition-transform"
    >
      <path
        fill="none"
        stroke="currentColor"
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="2"
        d="m4 4l11.733 16H20L8.267 4zm0 16l6.768-6.768m2.46-2.46L20 4"
      >
      </path>
    </svg>
  </a>
</section>
