---
import { Icon } from "astro-icon/components"

const iconSelectors =
  "h-6 inline group-hover:scale-110 transition-all group-hover:text-yellow-700 dark:group-hover:text-yellow-400"
---

<section class="flex flex-row gap-6">
  <a
    title="GitHub"
    class="group"
    href="https://www.github.com/carloskelly13"
    target="_blank"
  >
    <Icon size={24} name="teenyicons:github-outline" slot="icon" class:list={[iconSelectors]} />
  </a>
  <a
    title="LinkedIn"
    class="group"
    href="https://www.linkedin.com/in/carlos-kelly-a10270b8/"
    target="_blank"
  >
    <Icon size={24} name="teenyicons:linkedin-outline" slot="icon" class:list={[iconSelectors]} />
  </a>
  <a
    title="Instagram"
    class="group"
    href="https://www.instagram.com/carloskelly.13"
    target="_blank"
  >
    <Icon size={24} name="teenyicons:instagram-outline" slot="icon" class:list={[iconSelectors]} />
  </a>
</section>
