
.diagonalLines {
  background: repeating-linear-gradient(
      -45deg,
      var(--stripe-light),
      var(--stripe-light) 2px,
      var(--stripe-dark) 2px,
      var(--stripe-dark) 12px
  ) repeat-x;
}

.textShadow {
  text-shadow:
      1px 1px 0 var(--yellow-300),
      1px 2px 0 var(--yellow-600),
      1px 3px 0 var(--yellow-600),
      1px 4px 0 var(--yellow-700),
      1px 5px 5px hsla(0, 0%, 0%, 0.5);
}

.textShadowSmall {
  text-shadow:
      1px 1px 0 var(--yellow-300),
      1px 2px 0 var(--yellow-600),
      1px 3px 3px hsla(0, 0%, 0%, 0.5);
}


.boxShadow {
  box-shadow:
      1px 1px 0 var(--yellow-400),
      1px 2px 0 var(--yellow-500),
      1px 3px 0 var(--yellow-500);
}