---
import { containerSelectors, headerSelectors } from "./GlobalStyles.astro"
---

<section class:list={[containerSelectors, "mt-10"]}>
  <h2 class:list={[headerSelectors, "mb-6"]}>Tech Stack</h2>
  <p>
    React, Node, TypeScript, Swift, Kotlin, Headless CMS, Next.js, Astro, Remix
  </p>
</section>
